@section SPAViews {
    @Html.Partial("_Home")
}

<div id="app">

</div>

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/node_modules/vue/dist/vue.min.js")


}

<script>
    var v = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>
