
.commit-dot {
	fill: silver;
	stroke: black;

	stroke-width:2px;
	&.openCommit{
		fill:white;
		stroke-width:0.9px;
	}
}

.commit-link {
		stroke-width:2px;
}

.commit-label {
	 color: white !important;
	 font-size: 1.1em !important;

	 &.openCommit{
 		font-weight: bold;
 	}

}

.graphgit {
    height: 100%;
    width: 100%;
}
.selected{
	fill:pink
}

.hovered{
	fill:red
}
.commit-group{

}

.commit-row{
	width: 100%;
	height: 20;
	fill: #636370;
}
